<!DOCTYPE html>
<html lang="en">
    <base href="/">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="InsertDescriptionHere">
        <meta name="author" content="Tim Davis">

        <title>TopTraining</title>


        <!-- inject-vendor:css -->
        <!-- Bootstrap -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Angular Bootstrap Calendar -->
        <link href="/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet" />
        <link href="/bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet" />

        <!-- Custom fonts -->
        <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" />
        <!-- endinject -->


        <!-- inject:css -->
        <link href="/client/styles/home.css" rel="stylesheet" />
        <link href="/client/styles/calendar.css" rel="stylesheet" />
        <link href="/client/styles/checkout.css" rel="stylesheet" />
        <link href="/client/styles/modal.css" rel="stylesheet" />
        <link href="/client/styles/support.css" rel="stylesheet" />
        <!-- endinject -->


        <!-- inject-vendor:js -->
        <!-- jQuery -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Angular -->
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

        <!-- Bootstrap -->
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Angular Bootstrap Calendar -->
        <script src="/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
        <script src="/bower_components/moment/min/moment.min.js"></script>
        <script src="/bower_components/interactjs/dist/interact.min.js"></script>
        <script src="/bower_components/rrule/lib/rrule.js"></script>

        <!-- Google Maps -->
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places,visualization&key=AIzaSyAyLamwtoSIwmfGd1xXJpH3MOpWTancJpA"></script>
        <script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>

        <!-- Modals -->
        <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
        <!-- endinject -->


        <!-- inject:js -->
        <!-- App module -->
        <script src="/client/app/app.module.js"></script>

        <!-- Core Module -->
        <script src="/client/app/core/core.module.js"></script>
        <script src="/client/app/core/core.constants.js"></script>
        <!-- Services -->
        <script src="/client/app/core/services/authentication.service.js"></script>
		<script src="/client/app/core/services/event.service.js"></script>
        <script src="/client/app/core/services/geolocation.service.js"></script>
        <script src="/client/app/core/services/posts.service.js"></script>
		<script src="/client/app/core/services/search.service.js"></script>
		<script src="/client/app/core/services/support.service.js"></script>
        <!-- Directives -->
        <script src="/client/app/core/directives/edit-pane.directive.js"></script>
        <script src="/client/app/core/directives/collapse.directive.js"></script>
        <script src="/client/app/core/directives/equals.directive.js"></script>
        <script src="/client/app/core/directives/google-auto-complete.directive.js"></script>
        <script src="/client/app/core/directives/google-reverse-geocode.directive.js"></script>
        <script src="/client/app/core/directives/ng-enter.directive.js"></script>
        <script src="/client/app/core/directives/star-rating.directive.js"></script>
        <!-- Filters -->
        <script src="/client/app/core/filters/number-round.filter.js"></script>
        <script src="/client/app/core/filters/capitalize-first.filter.js"></script>

        <!-- Blocks Module -->
        <script src="/client/app/blocks/blocks.module.js"></script>
        <!-- Exception -->
        <script src="/client/app/blocks/exception/exception.module.js"></script>
        <!-- Logger -->
        <script src="/client/app/blocks/logger/logger.module.js"></script>
		<script src="/client/app/blocks/logger/logger.service.js"></script>
        <!-- Router -->
        <script src="/client/app/blocks/router/router.module.js"></script>
        <script src="/client/app/blocks/router/router.provider.js"></script>
        <script src="/client/app/blocks/router/router.monitor.js"></script>

        <!-- Feature Modules -->
        <!-- Calendar Module -->
        <script src="/client/app/modules/calendar/calendar.module.js"></script>
        <script src="/client/app/modules/calendar/calendar.config.js"></script>
        <script src="/client/app/modules/calendar/calendar.routes.js"></script>
        <script src="/client/app/modules/calendar/calendar.controller.js"></script>

        <!-- Checkout Module -->
        <script src="/client/app/modules/checkout/checkout.module.js"></script>
        <script src="/client/app/modules/checkout/checkout.routes.js"></script>
        <script src="/client/app/modules/checkout/checkout.controller.js"></script>

        <!-- Event Module -->
        <script src="/client/app/modules/event/event.module.js"></script>
        <script src="/client/app/modules/event/event.routes.js"></script>
        <script src="/client/app/modules/event/event-detail.controller.js"></script>
        <script src="/client/app/modules/event/event-list.controller.js"></script>

        <!-- Layout Module -->
        <script src="/client/app/modules/layout/layout.module.js"></script>
        <script src="/client/app/modules/layout/layout.routes.js"></script>
        <script src="/client/app/modules/layout/home.controller.js"></script>
        <script src="/client/app/modules/layout/navigation.controller.js"></script>

        <!-- Post Module -->
        <script src="/client/app/modules/post/post.module.js"></script>
        <script src="/client/app/modules/post/post.routes.js"></script>
        <script src="/client/app/modules/post/post-detail.controller.js"></script>
        <script src="/client/app/modules/post/post-list.controller.js"></script>

        <!-- Search Module -->
        <script src="/client/app/modules/search/search.module.js"></script>
        <script src="/client/app/modules/search/search.routes.js"></script>
        <script src="/client/app/modules/search/search-list.controller.js"></script>
        <script src="/client/app/modules/search/trainer-search-profile.controller.js"></script>

        <!-- Support Module -->
        <script src="/client/app/modules/support/support.module.js"></script>
        <script src="/client/app/modules/support/support.routes.js"></script>
        <!-- About Module -->
        <script src="/client/app/modules/support/about/about.module.js"></script>
        <!-- Contact Module -->
        <script src="/client/app/modules/support/contact/contact.module.js"></script>
        <script src="/client/app/modules/support/contact/contact.controller.js"></script>
        <!-- FAQ Module -->
        <script src="/client/app/modules/support/faq/faq.module.js"></script>
        <script src="/client/app/modules/support/faq/faq.controller.js"></script>
        <script src="/client/app/modules/support/faq/article.controller.js"></script>

        <!-- User Module -->
        <script src="/client/app/modules/user/user.module.js"></script>
        <script src="/client/app/modules/user/user.routes.js"></script>
        <script src="/client/app/modules/user/log-in.controller.js"></script>
        <script src="/client/app/modules/user/sign-up-client.controller.js"></script>
        <script src="/client/app/modules/user/sign-up-trainer.controller.js"></script>
        <script src="/client/app/modules/user/trainer-profile.controller.js"></script>
        <script src="/client/app/modules/user/modals/summary-modal.controller.js"></script>
        <script src="/client/app/modules/user/modals/credentials-modal.controller.js"></script>
        <script src="/client/app/modules/user/modals/services-modal.controller.js"></script>
        <!-- endinject -->
    </head>
    <body ng-app="app" class="ng-cloak" ng-cloak>
        <!-- Include top navigation bar -->
        <ng-include src="'client/app/modules/layout/navigation.ejs'" class="ng-cloak" ng-cloak></ng-include>

        <!-- Main view -->
        <ui-view></ui-view>

        <!-- Include footer -->
        <ng-include src="'client/app/modules/layout/footer.ejs'" class="ng-cloak" ng-cloak></ng-include>
    </body>
</html>
