
<!-- Posts template -->

<!-- Header -->
<div class="page-header">
    <h3>
        <a ng-show="vm.post.link" href="{{ vm.post.link }}">
            {{ vm.post.title }}
        </a>
        <span ng-hide="vm.post.link">
            {{ vm.post.title }}
        </span>
    </h3>
</div>

<div ng-repeat="comment in vm.post.comments | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
        ng-click="vm.incrementUpvotes(comment)"></span>
        {{ comment.upvotes }} - by {{ comment.author }}
    <span style="font-size: 20px; margin-left: 10px;">
        {{ comment.body }}
    </span>
</div>

<!-- Add new comment (logged in) -->
<form ng-submit="vm.addComment()" ng-show="vm.isLoggedIn()"
    style="margin-top: 30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="vm.body" />
    </div>

    <button type="submit" class="btn btn-primary">Post</button>
</form>

<!-- Add new comment (not logged in) -->
<div ng-hide="vm.isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a comment.</h3>
</div>
