
<!-- Header -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="InsertDescriptionHere">
<meta name="author" content="Tim Davis">

<title>Top Training</title>

<!-- Style links -->
<!-- Bootstrap core CSS -->
<link href="styles/vendor/bootstrap/bootstrap.css" rel="stylesheet">

<!-- Custom fonts -->
<link href="styles/vendor/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!-- My CSS -->
<link href="styles/css/index.css" rel="stylesheet">


<!-- Script links -->
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>

<!-- jQuery -->
<script src="app/vendor/jquery/jquery.js"></script>

<!-- Bootstrap core JavaScript -->
<script src="app/vendor/bootstrap/bootstrap.min.js"></script>

<!-- My Javaapp -->
<!-- First, module -->
<script src="app/app.module.js"></script>

<!-- Second, config -->
<script src="app/app.config.js"></script>

<!-- Third, services -->
<script src="app/services/authentication.service.js"></script>
<script src="app/services/user.service.js"></script>
<script src="app/services/event.service.js"></script>
<script src="app/services/posts.service.js"></script>

<!-- Fourth, controllers -->
<script src="app/layout/shell.controller.js"></script>
<script src="app/layout/top-nav.controller.js"></script>
<script src="app/user/login.controller.js"></script>
<script src="app/user/register.controller.js"></script>
<script src="app/event/event-detail.controller.js"></script>
<script src="app/event/event-list.controller.js"></script>
<script src="app/post/post-detail.controller.js"></script>
<script src="app/post/post-list.controller.js"></script>

<!-- /Header -->
