
<!-- Header -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="InsertDescriptionHere">
<meta name="author" content="Tim Davis">

<title>Top Training</title>

<!-- inject-vendor:css -->
<!-- Bootstrap -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Angular Bootstrap Calendar -->
<link href="/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
<link href="/bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet">

<!-- Custom fonts -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<!-- endinject -->


<!-- inject:css -->
<link href="/public/styles/css/index.css" rel="stylesheet">
<!-- endinject -->


<!-- inject-vendor:js -->
<!-- Angular -->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- Bootstrap -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Angular Bootstrap Calendar -->
<script src="/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/interactjs/dist/interact.min.js"></script>
<script src="/bower_components/rrule/lib/rrule.js"></script>
<!-- endinject -->


<!-- inject:js -->
<!-- App module -->
<script src="/public/app/app.module.js"></script>

<!-- Core Module -->
<script src="/public/app/core/core.module.js"></script>
<script src="/public/app/core/core.constants.js"></script>
<!-- Services -->
<script src="/public/app/core/services/authentication.service.js"></script>
<script src="/public/app/core/services/user.service.js"></script>
<script src="/public/app/core/services/event.service.js"></script>
<script src="/public/app/core/services/posts.service.js"></script>
<!-- Directives -->
<script src="/public/app/core/directives/equals.directive.js"></script>

<!-- Reusable Blocks/Modules -->
<!-- Exception -->
<script src="/public/app/blocks/exception/exception.module.js"></script>
<!-- Logger -->
<script src="/public/app/blocks/logger/logger.module.js"></script>
<!-- Router -->
<script src="/public/app/blocks/router/router.module.js"></script>
<script src="/public/app/blocks/router/router-helper.provider.js"></script>

<!-- Other Modules -->
<!-- Layout Module -->
<script src="/public/app/layout/layout.module.js"></script>
<script src="/public/app/layout/layout.routes.js"></script>
<script src="/public/app/layout/shell.controller.js"></script>
<script src="/public/app/layout/top-nav.controller.js"></script>

<!-- User Module -->
<script src="/public/app/user/user.module.js"></script>
<script src="/public/app/user/user.routes.js"></script>
<script src="/public/app/user/login.controller.js"></script>
<script src="/public/app/user/register.controller.js"></script>

<!-- Calendar Module -->
<script src="/public/app/calendar/calendar.module.js"></script>
<script src="/public/app/calendar/calendar.config.js"></script>
<script src="/public/app/calendar/calendar.routes.js"></script>
<script src="/public/app/calendar/calendar.controller.js"></script>

<!-- Event Module -->
<script src="/public/app/event/event.module.js"></script>
<script src="/public/app/event/event.routes.js"></script>
<script src="/public/app/event/event-detail.controller.js"></script>
<script src="/public/app/event/event-list.controller.js"></script>

<!-- Post Module -->
<script src="/public/app/post/post.module.js"></script>
<script src="/public/app/post/post.routes.js"></script>
<script src="/public/app/post/post-detail.controller.js"></script>
<script src="/public/app/post/post-list.controller.js"></script>
<!-- endinject -->

<!-- /Header -->
