
<!-- Main template -->

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Top Training</h1>
                    <br />
                    <h3>Reach the top of your game with top training resources for athletes.</h3>
                    <hr class="intro-divider">

                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a class="btn btn-default btn-lg header-button"><span class="header-button-text">Find a Trainer</span></a>
                        </li>
                        <li>
                            <a href="/#/calendar" class="btn btn-default btn-lg header-button"><span class="header-button-text">View Calendar</span></a>
                        </li>
                        <li ng-hide="vm.isLoggedIn()">
                            <a href="/#/sign-up-trainer" class="btn btn-default btn-lg header-button"><span class="header-button-text">Be a Trainer</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="content-section-a">
    <div class="container">

            <!-- Mission & How We Work -->
            <div class="content">
                <h2 class="section-heading">Our Mission and How We Work</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /Mission & How We Work -->

            <br />

            <!-- Certified, Safe, and Secure -->
            <div class="content">
                <h2 class="section-heading">Certified, Safe, and Secure</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-4 lead">
                        Our trainers are certified and trusted.
                    </div>
                    <div class="col-md-4 lead">
                        Easy booking.&nbsp; Sign up for a training session with the click of a button.
                    </div>
                    <div class="col-md-4 lead">
                        Secure payments.&nbsp; No need to deal with cash or checks.
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /Certified, Safe, and Secure -->

            <br />

            <!-- What People Are Saying -->
            <div class="content">
                <h2 class="section-heading">What People Are Saying</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 lead">
                        Beginning of testimonials
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /What People Are Saying -->

    </div>
</div>
