
<!-- Main template -->

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="">Top Training</h1>
                    <br />
                    <h3>Reach the top of your game with top training resources for athletes.</h3>
                    <hr class="intro-divider">

                    <!-- Switch -->
                    <div ng-switch on="vm.activeButton">

                        <!-- Default view -->
                        <ul ng-switch-default class="list-inline">
                            <li>
                                <a ng-click="vm.activeButton = 'search'" class="btn btn-primary btn-lg header-button"><span class="header-button-text">Find a Trainer</span></a>
                            </li>
                            <li>
                                <a href="/#/calendar" class="btn btn-primary btn-lg header-button"><span class="header-button-text">View Calendar</span></a>
                            </li>
                            <li ng-hide="vm.isLoggedIn()">
                                <a href="/#/sign-up-trainer" class="btn btn-primary btn-lg header-button"><span class="header-button-text">Be a Trainer</span></a>
                            </li>
                        </ul>
                        <!-- /Default view -->

                        <!-- Find a Trainer -->
                        <ul ng-switch-when="search" class="list-inline">
                            <!-- Back button -->
                            <li>
                                <a ng-click="vm.activeButton = ''" class="btn btn-primary btn-lg header-button-sm">
                                    <span class="header-button-text">Back</span>
                                </a>
                            </li>
                            <!-- /Back button -->
                            <!-- Sport -->
                            <li>
                                <input class="form-control input-lg input-search"
                                    ng-model="vm.params.sport"
                                    uib-typeahead="sport for sport in vm.sports | filter:$viewValue | limitTo:8"
                                    typeahead-min-length="0"
                                    type="text" placeholder="Sport" />
                            </li>
                            <!-- /Sport -->
                            <!-- Location -->
                            <li>
                                <input class="form-control input-lg input-search"
                                    ng-model="vm.params.location"
                                    google-reverse-geocode
                                    google-auto-complete
                                    type="text" placeholder="Location" />

                            </li>
                            <!-- /Location -->
                            <!-- Search -->
                            <li>
                                <a ng-click="vm.search()" class="btn btn-primary btn-lg header-button-sm">
                                    <span class="header-button-text">Search</span>
                                </a>
                            </li>
                            <!-- /Search -->
                        </ul>
                        <!-- /Find a Trainer -->

                    </div>
                    <!-- /Switch -->

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="content-section-a">
    <div class="container">

            <!-- Mission & How We Work -->
            <div class="content">
                <h2 class="section-heading">Our Mission and How We Work</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /Mission & How We Work -->

            <br />

            <!-- Certified, Safe, and Secure -->
            <div class="content">
                <h2 class="section-heading">Certified, Safe, and Secure</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-4 lead">
                        Our trainers are certified and trusted.
                    </div>
                    <div class="col-md-4 lead">
                        Easy booking.&nbsp; Sign up for a training session with the click of a button.
                    </div>
                    <div class="col-md-4 lead">
                        Secure payments.&nbsp; No need to deal with cash or checks.
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /Certified, Safe, and Secure -->

            <br />

            <!-- What People Are Saying -->
            <div class="content">
                <h2 class="section-heading">What People Are Saying</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 lead">
                        Beginning of testimonials
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /What People Are Saying -->

    </div>
</div>
