
<!-- Main template -->

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="">Top Training</h1>
                    <br />
                    <h3>Reach the top of your game with top training resources for athletes.</h3>
                    <hr class="intro-divider">

                    <!-- Switch -->
                    <div ng-switch on="vm.buttonView">

                        <!-- Default view -->
                        <form class="list-inline fix-form-margin"
                            ng-switch-default>
                            <!-- Find a Trainer button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button header-button-text"
                                    ng-click="vm.buttonView = 'search'"
                                    type="button" value="Find a Trainer" /></li>
                            <!-- /Find a Trainer button -->
                            <!-- Calendar button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button header-button-text"
                                    ng-click="vm.redirectTo('calendar')"
                                    type="button" value="View Calendar" /></li>
                            <!-- /Calendar button -->
                            <!-- Trainer Sign Up button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button header-button-text"
                                    ng-click="vm.redirectTo('sign-up-trainer')"
                                    ng-hide="vm.isLoggedIn()"
                                    type="button" value="Apply to Train" /></li>
                            <!-- /Trainer Sign Up button -->
                        </form>
                        <!-- /Default view -->

                        <!-- Find a Trainer View -->
                        <form class="list-inline fix-form-margin"
                            ng-switch-when="search"
                            ng-submit="vm.search()">
                            <!-- Back button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button-sm header-button-text"
                                    ng-click="vm.buttonView = ''"
                                    type="submit" value="Back" /></li>
                            <!-- /Back button -->
                            <!-- Sport -->
                            <li><input class="form-control input-lg input-search"
                                    ng-model="vm.params.sport"
                                    uib-typeahead="sport for sport in vm.sports | filter:$viewValue | limitTo:5"
                                    typeahead-min-length="0"
                                    type="text" placeholder="Sport" /></li>
                            <!-- /Sport -->
                            <!-- Location -->
                            <li><input class="form-control input-lg input-search" id="results"
                                    ng-model="vm.params.location"
                                    google-reverse-geocode
                                    google-auto-complete
                                    type="text" placeholder="Location" /></li>
                            <!-- /Location -->
                            <!-- Search -->
                            <li><input class="form-control input-lg input-search btn-primary header-button-sm header-button-text"
                                    type="submit" value="Search" /></li>
                            <!-- /Search -->
                        </form>
                        <!-- /Find a Trainer View -->

                    </div>
                    <!-- /Switch -->

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="content-section-a">
    <div class="container">

            <!-- Mission & How We Work -->
            <div class="content">
                <h2 class="section-heading">Our Mission and How We Work</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /Mission & How We Work -->

            <br />

            <!-- Certified, Safe, and Secure -->
            <div class="content">
                <h2 class="section-heading">Certified, Safe, and Secure</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-4 lead">
                        Our trainers are certified and trusted.
                    </div>
                    <div class="col-md-4 lead">
                        Easy booking.&nbsp; Sign up for a training session with the click of a button.
                    </div>
                    <div class="col-md-4 lead">
                        Secure payments.&nbsp; No need to deal with cash or checks.
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /Certified, Safe, and Secure -->

            <br />

            <!-- What People Are Saying -->
            <div class="content">
                <h2 class="section-heading">What People Are Saying</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 lead">
                        Beginning of testimonials
                    </div>
                </div>

                <collapse more="Read More">
                    <div class="col-md-10 col-md-offset-1 lead">
                        This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located. This is where our mission statement body will be located.
                    </div>
                </collapse>
            </div>
            <!-- /What People Are Saying -->

    </div>
</div>
