
<!-- Main template -->

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Top Training</h1>
                    <h3>Reach the top of your game with top training resources for athletes.</h3>
                    <hr class="intro-divider">

                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a class="btn btn-default btn-lg"><span class="header-button-text">I Need A Trainer</span></a>
                        </li>
                        <li>
                            <a class="btn btn-default btn-lg"><span class="header-button-text">I Am A Trainer</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
