<html>
    <head>
        <!-- Include head -->
        <%- include('head.ejs') %>
    </head>
    <body ng-app="main" ng-controller="ShellController as vm">
        <!-- Include top navigation bar -->
        <%- include('top-nav.ejs') %>

        <!-- Main view -->
        <ui-view></ui-view>

        <!-- Include footer -->
        <%- include('footer.ejs') %>
    </body>
</html>
