<html>
    <base href="/">
    <head>
        <!-- Include head -->
        <%- include('head.ejs') %>
    </head>
    <body ng-app="app">
        <!-- Include top navigation bar -->
        <%- include('top-nav.ejs') %>

        <!-- Main view -->
        <ui-view></ui-view>

        <!-- Include footer -->
        <%- include('footer.ejs') %>
    </body>
</html>
