
<!-- Navigation -->
<nav ng-controller="TopNavController as vm" class="navbar navbar-default navbar-fixed-top topnav">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#/home">Top Training</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="vm.isLoggedIn()"><a>{{ vm.userName() }}</a></li>
                <li ng-show="vm.isLoggedIn()"><a href="/#/events">Events</a></li>
                <li ng-show="vm.isLoggedIn()"><a href="" ng-click="vm.logOut()">Log Out</a></li>
                <li ng-hide="vm.isLoggedIn()"><a href="/#/login">Log In</a></li>
                <li ng-hide="vm.isLoggedIn()"><a href="/#/register">Register</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /Navigation -->
