
<!-- Profile template -->

<div class="content-section-b">
    <div class="container">
        <div class="row">

          <div ng-show="vm.error" class="alert alert-danger row">
              <span> {{vm.error.message}} </span>
          </div>
          <!-- Header -->
          <div class="page-header">
              <h1>Profile</h1>
          </div>
          </br>
          <h2> {{vm.contact.firstname}} {{vm.contact.lastname}}</h2>
          <h4>{{vm.contact.email}}</h3>
          <span>Joined: {{vm.data.created}} Last Active: {{vm.data.lastActive}} </span>
          <div ng-show="vm.trainerInfo">
            <div ng-repeat="sport in vm.trainerInfo.sports">
              {{sport}}
            </div>
            <div>
              <h4>Experience<h4>
              {{vm.trainerInfo.experience}}
            </div>
            <div>
              <div ng-click="vm.editSummary = true" ng-hide="vm.editSummary">
                <h4 >Summary<h4>
                <p>{{vm.summary}}</p>
              </div>
              <div ng-show="vm.editSummary" >
                  <label>Edit Your Summary:</label>
                  <br/>
                  <textarea type="text" ng-model="vm.tempSummary" placeholder="summary">{{vm.tempSummary}}</textarea>
                  <br/>
                  <button ng-click="vm.CommitAllEdits()">Save</button>
                  <button ng-click="vm.CancelAllEdits()">Cancel</button>
              </div>
          </div>
            <!--todo: add reviews schema-->


          <div ng-show="vm.clientInfo">
            {{vm.clientInfo.zipcode}}
            <div ng-repeat="event in vm.clientInfo.events">
                {{event.startsAt}} - {{event.title}} - {{event.trainer}}
            </div>
          </div>

        </div>
    </div>
</div>
