
<!-- Event detail template -->

<!-- Event detail -->
<div class="container">
    <div class="content-section-b">
        <div class="row">

            <!-- Sport specific Summary, Packages, Credentials, Services Panes -->
            <div ng-repeat="set in vm.model.trainerInfo.sports"
                 ng-if="vm.sport === set.sport">

                <!-- Summary Pane -->
                <div class="floatL col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="column">
                        <!-- Edit button -->
                        <a href title="Edit this pane"
                           class="floatR" ng-click="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <!-- /Edit button -->

                        <h2>{{ vm.model.contact.firstname }} {{ vm.model.contact.lastname }}</h2>
                        <select ng-model="vm.sport">
                            <option ng-repeat="set in vm.model.trainerInfo.sports"
                                    value="{{ set.sport }}">
                                {{ set.sport | capitalizeFirst }}
                            </option>
                        </select>

                        <p>{{ set.summary }}</p>
                    </div>
                </div>
                <!-- /Summary Pane -->

                <!-- Locations -->
                <div class="floatR col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="column center">
                        <!-- Edit button -->
                        <a href title="Edit this pane"
                           class="floatR" ng-click="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <!-- /Edit button -->

                        <h3>Training Locations</h3>
                        <map zoom-to-include-markers="true"
                             class="map">
                            <marker ng-repeat="location in vm.model.trainerInfo.locations"
                                position="{{location.coordinates[1]}},{{location.coordinates[0]}}">
                                <!-- title="{{location.title}}"> -->
                            </marker>
                        </map>
                        <div ng-repeat="location in vm.model.trainerInfo.locations">
                            <span>{{ location.coordinates }}</span>
                        </div>
                    </div>
                </div>
                <!-- /Locations -->

                <!-- Packages Pane -->
                <div class="floatL col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="column">
                        <!-- Edit button -->
                        <a href title="Edit this pane"
                           class="floatR" ng-click="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <!-- /Edit button -->

                        <h2 class="">{{ vm.sport | capitalizeFirst }} Packages</h2>

                        <div ng-repeat="package in set.packages">
                            <p>Training group size: {{ package.size }}</p>
                            <p>Number of sessions: {{ package.count }}</p>
                            <p>Price: {{ package.price * package.count }}</p>
                            <p>Price per session: {{ package.price }}</p>
                        </div>

                    </div>
                </div>
                <!-- /Packages Pane -->

                <!-- Credentials Pane -->
                <div class="floatL col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="column">
                        <!-- Edit button -->
                        <a href title="Edit this pane"
                           class="floatR" ng-click="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <!-- /Edit button -->

                        <h2 class="">Credentials</h2>

                        <p>{{ set.credentials.experience }} years training experience.</p>
                        <p>School: {{ set.credentials.school }}</p>

                    </div>
                </div>
                <!-- /Credentials Pane -->

                <!-- Services Pane -->
                <div class="floatL col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="column">
                        <!-- Edit button -->
                        <a href title="Edit this pane"
                           class="floatR" ng-click="">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <!-- /Edit button -->

                        <h2 class="">Services</h2>

                        <p>{{ set.services.ages }}</p>
                        <p>{{ set.services.positions }}</p>
                        <p>{{ set.services.specialties }}</p>

                    </div>
                </div>
                <!-- /Services Pane -->

            </div>
            <!-- /Sport specific Summary, Packages, Credentials, Services Panes -->

            <!-- Reviews -->
            <div class="floatL col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="column">

                    <h2 class="">Reviews</h2>

                    <div ng-repeat="review in vm.model.trainerInfo.reviews">
                        <p>{{ review.author }}</p>
                        <p>({{ review.type }})</p>
                        <p>{{ review.rating }} stars</p>
                        <p>{{ review.content }}</p>
                    </div>

                </div>
            </div>
            <!-- /Reviews -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.content-section-b -->
</div>
<!-- /.container -->
