
<!-- Profile template -->

<div class="content-section-b">
    <div class="container">
        <div class="row">

          <div ng-show="vm.error" class="alert alert-danger row">
              <span> {{vm.error.message}} </span>
          </div>
          <!-- Header -->
          <div class="page-header">
              <h1>Profile</h1>
          </div>
          </br>
          <h2> {{vm.contact.firstname}} {{vm.contact.lastname}}</h2>
          <h4>{{vm.contact.email}}</h3>
          <span>Joined: {{vm.data.created}} Last Active: {{vm.data.lastActive}} </span>
          <div ng-show="vm.trainerInfo">
            <div ng-repeat="sport in vm.trainerInfo.sports">
              {{sport}}
            </div>

            <div>
                <div ng-click="vm.setEditField('experience')">
                  <h4>Experience<h4>
                  <p>{{vm.experience}}</p>
                </div>
                <div ng-show="vm.editing && vm.editField === 'experience'">
                    <!-- <label>Edit Your Summary:</label> -->
                    <textarea type="text" ng-model="vm.tempExperience" placeholder="experience"
                          ng-change="vm.changes = true">{{vm.tempExperience}}</textarea>
                    <br/>
                    <button ng-click="vm.commitEdits()">Save</button>
                    <button ng-click="vm.cancelEdits()">Cancel</button>
                </div>
            </div>

            <div>
              <div ng-click="vm.setEditField('summary')">
                <h4>Summary<h4>
                <p>{{vm.summary}}</p>
              </div>
              <div ng-show="vm.editing && vm.editField === 'summary'">
                  <!-- <label>Edit Your Summary:</label> -->
                  <textarea type="text" ng-model="vm.tempSummary" placeholder="summary"
                        ng-change="vm.changes = true">{{vm.tempSummary}}</textarea>
                  <br/>
                  <button ng-click="vm.commitEdits()">Save</button>
                  <button ng-click="vm.cancelEdits()">Cancel</button>
              </div>
          </div>
            <!--todo: add reviews schema-->


          <div ng-show="vm.clientInfo">
            {{vm.clientInfo.zipcode}}
            <div ng-repeat="event in vm.clientInfo.events">
                {{event.startsAt}} - {{event.title}} - {{event.trainer}}
            </div>
          </div>

        </div>
    </div>
</div>
