
<!-- Registration template -->

<div class="content-section-b">
    <div class="container">
        <div class="row">

            <!-- Header -->
            <div class="page-header">
                <h2>Trainer Application</h2>
                <small>* indicates required field.</small>
            </div>

            <p>Already have an account? <a href="/#/login">Log in.</a></p>

            <!-- Error pop-up -->
            <div ng-show="vm.error" class="alert alert-danger row">
                <span>{{ vm.error.message }}</span>
            </div>

            <!-- Email error pop-ups -->
            <div ng-show="registrationForm.email.$error.email" class="alert alert-danger row">
                <span>Please enter a valid email.</span>
            </div>

            <!-- Password error pop-ups -->
            <div class='alert alert-danger row' ng-show='registrationForm.password.$error.equals'>
                <span>Passwords don't match.</span>
            </div>

            <!-- Registration form -->
            <form name="registrationForm" ng-submit="vm.changeContinued()"
				  ng-if="!vm.continued"
                  class="col-md-12 row fix-form">

				<!-- Name -->
                <div class="col-md-6 form-group">
                    <label for="firstname">First Name *</label>
                    <input type="text" name="form[firstname]" required="required"
                        id="firstname" class="form-control" placeholder="John"
                        ng-model="vm.user.firstname" />
                </div>
                <div class="col-md-6 form-group">
                    <label for="lastname">Last Name *</label>
                    <input type="text" name="form[lastname]" required="required"
                        id="lastname" class="form-control" placeholder="Smith"
                        ng-model="vm.user.lastname" />
                </div>

                <!-- Contact -->
                <div class="col-md-6 form-group">
                    <label for="email">Email *</label>
                    <input type="email" name="form[email]" required="required"
                        id="email" class="form-control" placeholder="John@email.com"
                        ng-model="vm.user.email" />
                </div>
                <div class="col-md-6 form-group">
                    <label for="phone">Phone Number *</label>
                    <input type="tel" name="form[phone]" required="required"
                        pattern="^\d{3}-?\d{3}-?\d{4}$" title="Phone number (e.g. 123-456-7890)"
						id="phone" class="form-control" placeholder="123-456-7890"
                        ng-model="vm.user.phone" />
                </div>

                <!-- Password -->
				<div class="col-md-12 form-group">
					<div class="col-md-6 no-padding-left">
						<label for="email">Password *</label>
						<input type="password" name="password" class="form-control" placeholder="Password"
	                        ng-model="vm.user.password" equals="{{vm.user.password_verify}}" required="required" />
					</div>
                </div>
				<div class="col-md-12 form-group">
					<div class="col-md-6 no-padding-left">
	                    <label for="email">Re-enter Password *</label>
						<input type="password" class="form-control" placeholder="Re-enter password"
	                        ng-model="vm.user.password_verify" equals="{{vm.user.password}}" required="required" />
                	</div>
				</div>
                <!-- /Password -->

				<!-- Continue (Submit) -->
				<div class="col-md-12">
                    <input type="submit" class="btn btn-primary btn-md"
                            value="Continue" ng-disabled="">
                    </input>
                </div>
            </form>

			<!-- Continued registration form -->
            <form name="continuedRegistrationForm" ng-submit="vm.finishSignUp()"
				ng-if="vm.continued"
				class="col-md-12 row fix-form">

				<!-- Sport -->
				<div class="col-md-12 form-group">
					<div class="col-md-6 no-padding-left">
	                    <label for="sport">What Sport Do You Want To Train? *</label>
						<select class="form-control" id="sport"
							ng-model="vm.user.sportData.sport"
							required="required">
							<option ng-repeat="sport in vm.sports"
									value="{{ sport }}">
								{{ sport | capitalizeFirstAll }}
							</option>
						</select>
					</div>
                </div>
				<div class="col-md-12">
					<div class="col-md-6">
						<span>
							Don't see the sport you'd like to train here? <a href>Learn why</a>.
						</span>
					</div>
				</div>

				<!-- Summary -->
				<div class="col-md-12 form-group">
                    <label for="summary">Summary *</label>
					<textarea class="form-control" rows="3"
						id="summary" placeholder="A passionate coach with a true love for baseball. Specializing in hitting, fielding, fundamental drills, and mental focus."
						ng-model="vm.user.sportData.profile.summary"
						required="required">
					</textarea>
                </div>

				<!-- Credentials -->
				<div class="form-group">
					<div class="col-md-6">
						<label for="experience">Experience *</label>
						<input type="number" class="form-control" required="required"
							id="experience" placeholder="# of years of experience"
							ng-model="vm.user.sportData.profile.credentials.experience">
						</input>
					</div>

					<div class="col-md-6">
						<label for="school">School *</label>
						<input type="text" class="form-control" required="required"
							id="school" placeholder="College / University"
							ng-model="vm.user.sportData.profile.credentials.school">
						</input>
					</div>
				</div>

				<!-- Services -->
				<div class="form-group">
					<div class="col-md-6">
						<label for="ages">Ages *</label>
						<input type="text" class="form-control" required="required"
							id="ages" placeholder="Age groups, separated by commas"
							ng-model="vm.user.sportData.profile.services.ages">
						</input>
					</div>

					<div class="col-md-6">
						<label for="positions">Positions *</label>
						<input type="text" class="form-control" required="required"
							id="positions" placeholder="Positions, separated by commas"
							ng-model="vm.user.sportData.profile.services.positions">
						</input>
					</div>

					<div class="col-md-6">
						<label for="specialties">Specialties *</label>
						<input type="text" class="form-control" required="required"
							id="specialties" placeholder="Specialties, separated by commas"
							ng-model="vm.user.sportData.profile.services.specialties">
						</input>
					</div>
				</div>

				<!-- Packages -->
				<div class="row">
					<div class="col-md-12">
						<br />
						<h2>Set Up Your Training Packages</h2>
						<br />
					</div>
				</div>

				<div class="col-md-12 form-group">
					<div class="col-md-6 no-padding-left">
	                    <label for="privateSessionLength">Private Training Session Length *</label>
						<select class="form-control" id="privateSessionLength"
								ng-model="vm.session.private.length">
							<option style="display:none"></option>
							<option ng-repeat="length in vm.packageOptions.lengths"
									value="{{ length }}">
								{{ length | intoTimeFormat }}
							</option>
						</select>
					</div>

					<div class="col-md-6 no-padding-left">
	                    <label for="privateSessionRate">Private Training Session Rate *</label>
						<select class="form-control" id="privateSessionRate"
							ng-model="vm.session.private.rate">
							<option style="display:none"></option>
							<option ng-repeat="rate in vm.packageOptions.rates"
									value="{{ rate }}">
								${{ rate }}
							</option>
						</select>
					</div>
                </div>

				<div class="col-md-12 form-group">
					<div class="col-md-6 no-padding-left">
	                    <label for="smallSessionLength">Small Group Training Session Length *</label>
						<select class="form-control" id="smallSessionLength"
								ng-model="vm.session.small.length">
							<option style="display:none"></option>
							<option ng-repeat="length in vm.packageOptions.lengths"
									value="{{ length }}">
								{{ length | intoTimeFormat }}
							</option>
						</select>
					</div>

					<div class="col-md-6 no-padding-left">
	                    <label for="smallSessionRate">Small Group Training Session Rate *</label>
						<select class="form-control" id="smallSessionRate"
							ng-model="vm.session.small.rate">
							<option style="display:none"></option>
							<option ng-repeat="rate in vm.packageOptions.rates"
									value="{{ rate }}">
								${{ rate }}
							</option>
						</select>
					</div>
                </div>

				<div class="col-md-12 form-group">
					<div class="col-md-6 no-padding-left">
	                    <label for="largeSessionLength">Large Group Training Session Length *</label>
						<select class="form-control" id="largeSessionLength"
								ng-model="vm.session.large.length">
							<option style="display:none"></option>
							<option ng-repeat="length in vm.packageOptions.lengths"
									value="{{ length }}">
								{{ length | intoTimeFormat }}
							</option>
						</select>
					</div>

					<div class="col-md-6 no-padding-left">
	                    <label for="largeSessionRate">Large Group Training Session Rate *</label>
						<select class="form-control" id="largeSessionRate"
							ng-model="vm.session.large.rate">
							<option style="display:none"></option>
							<option ng-repeat="rate in vm.packageOptions.rates"
									value="{{ rate }}">
								${{ rate }}
							</option>
						</select>
					</div>
                </div>
				<!-- End Packages -->

				<!-- Locations -->
				<div class="row">
					<div class="col-md-12">
						<br />
						<h2>Enter Your Training Locations</h2>
						<br />
						<map zoom-to-include-markers="auto"
							 center="[37.0902, -95.7129]" zoom="3"
							 maximum-zoom="12" minimum-zoom="3">
							<marker ng-repeat="location in vm.locations"
								position="{{location.geometry.coordinates[1]}},{{location.geometry.coordinates[0]}}"
								title="{{location.formatted_address}}"
								label="'{{location.priority}}'">
							</marker>
						</map>
						<div ng-repeat="location in vm.locations | orderBy: '+priority'">
							<p>
								{{ location.priority }}: {{ location.formatted_address }}
								<a ng-click="vm.removeLocation(location.priority)">
						            <i class="glyphicon glyphicon-remove"></i>
						        </a>
							</p>
						</div>

						<h4>Add New Location</h4>
						<input class="form-control input-lg input-search" id="location"
							ng-model="vm.newLocation"
							google-auto-complete
							type="text" placeholder="Location">
						</input>

						<input type="button" class="btn btn-primary"
							   value="Add new location"
							   ng-click="vm.addLocation()">
						</input>
					</div>
				</div>
				<!-- End Locations -->

				<!-- Go Back -->
				<div class="col-md-12">
                    <input type="button" class="btn btn-primary btn-md"
                            value="Go Back" ng-click="vm.changeContinued()" ng-disabled="">
                    </input>
                </div>

				<!-- Apply (Submit) -->
				<div class="col-md-12">
                    <input type="submit" class="btn btn-primary btn-md"
                            value="Apply" ng-disabled="">
                    </input>
                </div>
			</form>
        </div>
    </div>
</div>
