
<!-- Event list template -->

<!-- All Events -->
<div class="content-section-a">
    <div class="container">
        <div class="row">

            <h3>{{ vm.count }} {{ vm.sport }} Trainers near {{ vm.location }}</h3>

            <div ng-repeat="trainer in vm.trainers">
                <div>
                    <span>{{ trainer.contact.firstname }} {{ trainer.contact.lastname[0] }}.</span>
                    <br />
                    <span>{{ vm.sport }}</span>
                    <br />
                    <span><a ng-click="vm.viewProfile(trainer)" href="#/search/trainers/{{ trainer._id }}">View Profile</a></span>
                </div><br />
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /All Events.content-section-a -->
