
<!-- Event detail template -->

<!-- Event detail -->
<div class="content-section-b">
    <div class="container">
        <div class="row">

            <!-- Back -->
            <a href="/#/search">Back</a>
            <!-- /Back -->

            <!-- Trainer details -->
            <div>
                <h2>{{ vm.trainer.contact.firstname }} {{ vm.trainer.contact.lastname }}</h2>
                <select ng-model="vm.sport">
                    <option ng-repeat="set in vm.trainer.trainerInfo.sports"
                            value="{{ set.sport }}">
                        {{ set.sport }}
                    </option>
                </select>
            </div>

            <div>
                {{vm.sport}}
            </div>

            <div ng-repeat="set in vm.trainer.trainerInfo.sports"
                 ng-if="vm.sport === set.sport">

                <span>{{ set.summary }}</span>

                <h2>Packages</h2>
                <div ng-repeat="package in set.packages">
                    <span>{{ package }}</span>
                </div>


            </div>

            <!-- Non-changing Info -->
            <h2>Training Locations</h2>
            <div ng-repeat="location in vm.trainer.trainerInfo.locations">
                <span>{{ location }}</span>
            </div>

            <h2>Reviews</h2>
            <div ng-repeat="review in vm.trainer.trainerInfo.reviews">
                <span>{{ review }}</span>
            </div>
            <!-- /Non-changing Info -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
