
<!-- Event detail template -->

<!-- Event detail -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <!-- Back -->
                <div class="floatL">
                    <a href="/#/search">Back</a>
                </div>
                <!-- /Back -->

                <!-- Summary Pane -->
                <div class="content floatL clear col-md-7">
                    <h2>{{ vm.trainer.contact.firstname }} {{ vm.trainer.contact.lastname }}</h2>
                    <select ng-model="vm.sport">
                        <option ng-repeat="set in vm.trainer.trainerInfo.sports"
                                value="{{ set.sport }}">
                            {{ set.sport }}
                        </option>
                    </select>

                    <div ng-repeat="set in vm.trainer.trainerInfo.sports"
                         ng-if="vm.sport === set.sport">

                        <span>{{ set.summary }}</span>
                    </div>
                </div>
                <!-- /Summary Pane -->

                <!-- Locations -->
                <div class="content floatR col-md-5">
                    <h2>Training Locations</h2>
                    <map zoom-to-include-markers="true"
                        class="map">
                        <marker ng-repeat="location in vm.trainer.trainerInfo.locations"
                            position="{{location.coordinates[1]}},{{location.coordinates[0]}}">
                            <!-- title="{{location.title}}"> -->
                        </marker>
                    </map>
                    <div ng-repeat="location in vm.trainer.trainerInfo.locations">
                        <span>{{ location.coordinates }}</span>
                    </div>
                </div>
                <!-- /Locations -->

                <!-- Packages & Credentials & Services -->
                <div ng-repeat="set in vm.trainer.trainerInfo.sports"
                     ng-if="vm.sport === set.sport">

                    <div class="content floatL col-md-7">
                        <h2 class="">Packages</h2>

                        <div ng-repeat="package in set.packages">
                            <p>Training group size: {{ package.size }}</p>
                            <p>Number of sessions: {{ package.count }}</p>
                            <p>Price: {{ package.price * package.count }}</p>
                            <p>Price per session: {{ package.price }}</p>
                        </div>
                    </div>

                    <div class="content floatL col-md-7">
                        <h2 class="">Credentials</h2>

                        <p>{{ set.credentials.experience }} years training experience.</p>
                        <p>School: {{ set.credentials.school }}</p>
                    </div>

                    <div class="content floatL col-md-7">
                        <h2 class="">Services</h2>

                        <p>{{ set.services.ages }}</p>
                        <p>{{ set.services.positions }}</p>
                        <p>{{ set.services.specialties }}</p>
                    </div>
                </div>
                <!-- /Packages & Credentials & Services -->

                <!-- Reviews -->
                <div class="content floatL col-md-7">
                    <h2 class="">Reviews</h2>

                    <div ng-repeat="review in vm.trainer.trainerInfo.reviews">
                        <p>{{ review.author }}</p>
                        <p>({{ review.type }})</p>
                        <p>{{ review.rating }} stars</p>
                        <p>{{ review.content }}</p>
                    </div>
                </div>
                <!-- /Reviews -->

            </div>
            <!-- /col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
