
<!-- Events template -->

<!-- Your Events -->
<div class="content-section-b">
    <div class="container">
        <div class="row">

            <h2>Your Events</h2>
<!--
            <div ng-repeat="event in events">
                <span style="font-size: 20px; margin-left: 10px;">
                    <span>
                        {{ event.title }}
                    </span>
                </span>
                <span>
                    <a href="#/events/{{ event._id }}">View this event</a>
                </span>
            </div> -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /Your Events.content-section-b -->

<!-- All Events -->
<div class="content-section-a">
    <div class="container">
        <div class="row">

            <h2>All Events</h2>

            <div ng-repeat="event in vm.events">
                <span style="font-size: 20px; margin-left: 10px;">
                    <span>
                        {{ event.title }}
                    </span>
                </span>
                <span>
                    <a href="#/events/{{ event._id }}">View this event</a>
                </span>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /All Events.content-section-a -->

<!-- Add a new Event -->
<div class="content-section-b" ng-show="vm.userType() == 'trainer'">
    <div class="container">
        <div class="row">

            <h2>Add a new event</h2>

            <!-- Add new post form (logged in) -->
            <form ng-submit="vm.addEvent()" ng-show="vm.isLoggedIn()">

                <div class="form-group">
                    <input type="text"
                        class="form-control"
                        placeholder="Title"
                        ng-model="vm.title" />
                </div>

                <div class="form-group">
                    <input type="text"
                        class="form-control"
                        placeholder="Body"
                        ng-model="vm.body" />
                </div>

                <div class="form-group">
                    <input type="text"
                        class="form-control"
                        placeholder="Slots"
                        ng-model="vm.slots" />
                </div>

                <button type="submit" class="btn btn-primary">Add event</button>
            </form>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- Add a new Event/.content-section-b -->
