
<!-- Footer -->
<footer class="row">

    <div class="col-md-2">
        <ul class="footer-group">
            <li><h4>Explore</h4></li>
            <li><a href="/#/" class="btn btn-link footer-link">Find a Trainer</a></li>
            <li><a href="/#/" class="btn btn-link footer-link">View today's Calendar</a></li>
        </ul>
    </div>

    <div class="col-md-2">
        <ul class="footer-group">
            <li><h4>About</h4></li>
            <li><a href="/#/" class="btn btn-link footer-link">About Us</a></li>
            <li><a href="/#/" class="btn btn-link footer-link">Blog</a></li>
            <li><a href="/#/" class="btn btn-link footer-link">Careers</a></li>
        </ul>
    </div>

    <div class="col-md-2">
        <ul class="footer-group">
            <li><h4>Resources</h4></li>
            <li><a href="/#/support/terms-of-service" class="btn btn-link footer-link">Terms of Service</a></li>
            <li><a href="/#/support/privacy" class="btn btn-link footer-link">Privacy</a></li>
			<li><a href="http://www.flaticon.com/authors/madebyoliver" class="btn btn-link footer-link">Icons: madebyoliver</a></li>
        </ul>
    </div>

    <div class="col-md-2">
        <ul class="footer-group">
            <li><h4>Support</h4></li>
            <li><a href="/#/support/contact" class="btn btn-link footer-link">Contact</a></li>
            <li><a href="/#/support/faq" class="btn btn-link footer-link">Frequently Asked Questions</a></li>
            <li><a href="/#/support/howwework" class="btn btn-link footer-link">How We Work</a></li>
            <li><a href="/#/support/testimonials" class="btn btn-link footer-link">Testimonials</a></li>
        </ul>
    </div>

    <div class="col-md-12">
        <p class="copyright text-muted small">&copy; Copyright 2017 TopTraining, Inc.</p>
    </div>

</footer>
<!-- /Footer -->
