
<!-- Main template -->

<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="intro-message">
                    <h1 class="">TopTraining</h1>
                    <br />
                    <h3>Reach the top of your game with top training resources for athletes.</h3>
                    <hr class="intro-divider">

                    <!-- Switch -->
                    <div ng-switch on="vm.buttonView">

                        <!-- Default view -->
                        <form class="list-inline fix-form"
                            ng-switch-default>
                            <!-- Find a Trainer button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button header-button-text"
                                    ng-click="vm.buttonView = 'search'"
                                    type="button" value="Find a Trainer" /></li>
                            <!-- /Find a Trainer button -->
                            <!-- Calendar button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button header-button-text"
                                    ng-click="vm.redirectTo('calendar')"
                                    type="button" value="View Calendar" /></li>
                            <!-- /Calendar button -->
                            <!-- Trainer Sign Up button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button header-button-text"
                                    ng-click="vm.redirectTo('sign-up-trainer')"
                                    ng-hide="vm.isLoggedIn()"
                                    type="button" value="Apply to Train" /></li>
                            <!-- /Trainer Sign Up button -->
                        </form>
                        <!-- /Default view -->

                        <!-- Find a Trainer View -->
                        <form class="list-inline fix-form"
                            ng-switch-when="search"
                            ng-submit="vm.search()">
                            <!-- Back button -->
                            <li><input class="form-control input-lg input-search btn-primary header-button-sm header-button-text"
                                    ng-click="vm.buttonView = ''"
                                    type="submit" value="Back" /></li>
                            <!-- /Back button -->
                            <!-- Sport -->
                            <li><input class="form-control input-lg input-search"
                                    ng-model="vm.params.sport"
                                    uib-typeahead="sport for sport in vm.sports | filter:$viewValue | limitTo:5"
                                    typeahead-min-length="0"
                                    type="text" placeholder="Sport" /></li>
                            <!-- /Sport -->
                            <!-- Location -->
                            <li><input class="form-control input-lg input-search" id="results"
                                    ng-model="vm.params.location"
                                    google-reverse-geocode lat="vm.params.lat" long="vm.params.long"
                                    google-auto-complete
                                    type="text" placeholder="Location" /></li>
                            <!-- /Location -->
                            <!-- Search -->
                            <li><input class="form-control input-lg input-search btn-primary header-button-sm header-button-text"
                                    type="submit" value="Search" /></li>
                            <!-- /Search -->
                        </form>
                        <!-- /Find a Trainer View -->

                    </div>
                    <!-- /Switch -->

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="content-section-a">
    <div class="container">

        <!-- Include mission -->
        <ng-include src="'client/app/modules/support/about/mission.html'" class="ng-cloak" ng-cloak></ng-include>

        <!-- Include basics -->
        <ng-include src="'client/app/modules/support/about/basics.html'" class="ng-cloak" ng-cloak></ng-include>

        <!-- Include testimonials -->
        <ng-include src="'client/app/modules/support/about/testimonials.html'" class="ng-cloak" ng-cloak></ng-include>
    </div>
</div>
