
<!-- Navigation -->
<nav ng-controller="NavigationController as vm" class="navbar navbar-default navbar-fixed-top topnav">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/#/home">TopTraining</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- Logged in -->
				<li ng-show="vm.isLoggedIn() && vm.currentUser().usertype === 'Admin'"><a href="/#/admin/dashboard">Dashboard</a></li>
                <li ng-show="vm.isLoggedIn()"><a>Welcome, {{ vm.currentUser().contact.firstname }}</a></li>
                <li ng-show="vm.isLoggedIn()"><a href="/#/profile/trainer">Profile</a></li>
                <li ng-show="vm.isLoggedIn()"><a href="" ng-click="vm.logOut()">Log Out</a></li>
                <!-- /Logged in -->

                <!-- Logged out -->
                <li ng-hide="vm.isLoggedIn()"><a href="/#/signup-trainer">Apply to Train</a></li>
                <li ng-hide="vm.isLoggedIn()"><a href="/#/login">Log In</a></li>
                <li ng-hide="vm.isLoggedIn()"><a href="/#/signup-client">Sign Up</a></li>
                <!-- /Logged out -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /Navigation -->
