
<div class="custom-modal">
    <div class="overlay">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editing your {{ vm.title | capitalizeFirst }}</h4>
            </div>

            <div class="modal-body">

                <form class="form-horizontal" role="form">

					<br />
					<h2>Enter Your Training Locations</h2>
					<br />
					<div ng-repeat="location in vm.tempLocations | orderBy: '+priority'">
						<p>
							{{ location.priority }}: {{ location.formatted_address }}
							<a ng-click="vm.removeLocation(location.priority)">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</p>
					</div>

					<h4>Add New Location</h4>
					<input class="form-control input-lg input-search" id="location"
						ng-model="vm.newLocation"
						google-auto-complete
						type="text" placeholder="Location">
					</input>

					<input type="button" class="btn btn-primary"
						   value="Add new location"
						   ng-click="vm.addLocation()">
					</input>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" ng-click="vm.save()" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                <button type="button" ng-click="vm.cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
	<div class="fade"></div>
</div>
