<html>
    <head>
        <!-- Include head -->
        <%- include('../partials/head') %>
    </head>
    <body ng-app="main">
        <!-- Include navigation bar -->
        <%- include('../partials/nav') %>

        <!-- Main view -->
        <ui-view></ui-view>

        <!-- Include footer -->
        <%- include('../partials/footer') %>
    </body>
</html>
